<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344052897840-32j3ueu0gqkbd5ssqt7te7m2gk62sktu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344052897840-32j3ueu0gqkbd5ssqt7te7m2gk62sktu</string>
	<key>API_KEY</key>
	<string>AIzaSyD_n9yh_Vk9Gwofdh7Iri3mpoJMPUxXA8M</string>
	<key>GCM_SENDER_ID</key>
	<string>344052897840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codetoanbug.com.TabbarSample</string>
	<key>PROJECT_ID</key>
	<string>utm-sockers</string>
	<key>STORAGE_BUCKET</key>
	<string>utm-sockers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344052897840:ios:cdbd665822db87333cb5f5</string>
	<key>DATABASE_URL</key>
	<string>https://utm-sockers-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>